html {
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-circle {
  width: 100px;
  height: 100px;
  border: 1px #000 solid;
  border-radius: 50px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 40px;
}

.alert-circle {
  color: white;
  border: 2px black solid !important;
  background: red;
}

.regular-circle {
  color: white;
  border: 2px black solid !important;
  background: green;
}
